name: Next Deployment

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: 22
        script: |
          cd /DBao/Docker
          git fetch main
          git pull
          docker build -t docker .
          docker stop docker-container || true
          docker rm docker-container || true
          docker run -d --name docker-container -p 5000:5000 docker